@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
.timer-bg {
  height: 100%;
  background: linear-gradient(90deg, pink 50%, cyan 50%);

  @for $i from 1 through $columns {
    .columns-#{$i} {
      width: (100% / $i);
    }
  }
}
